@model GFS.Models.Policies.Dependant

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dependant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.coveredby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coveredby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dOb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dOb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.relationship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.relationship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.policyPlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.policyPlan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.policyNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.policyNo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
