@model GFS.Models.Policies.Dependant

<div>
    <h4>Dependant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dOb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dOb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.relationship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.relationship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.policyNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.policyNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.depNo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
