@model IEnumerable<GFS.Models.Policies.Beneficiary>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Beneficiaries</h2>

<table class="table table-bordered table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.relation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.split)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.policyPlan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.policyNo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.relation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.split)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.policyPlan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.policyNo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.beneficiaryNo }) |
                @Html.ActionLink("Details", "Details", new { id = item.beneficiaryNo }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.beneficiaryNo })
            </td>
        </tr>
    }

</table>
