@model IEnumerable<GFS.Models.Policies.NewMember>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <input type="button" value="Print Holders' List" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("PrintAll", "NewMembers") + "'");" />
</div>
<br />
<h2>Policy Holders</h2>                                          
<div align="right">

    <p>
        @using (Html.BeginForm("Index", "NewMembers", System.Web.Mvc.FormMethod.Get))
        {
            <b>Search By:</b>  @Html.RadioButton("SearchBy", "policyNo", true)<text>Policy No</text>
            @Html.RadioButton("SearchBy", "IdNo")<text>Id Number</text>
            @Html.RadioButton("SearchBy", "nameorsurn")<text>Name/Surname</text><br />

            @Html.TextBox("Search")<input type="submit" value="Search" class="btn btn-primary" />

        }
    </p>
</div>
@*Total Client: @Model.Count()*@
<div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
    <span class="text">
        Active Policies
        <span class="pull-right">@ViewBag.ActivePrincipals of @ViewBag.AllPrincipals</span>
         
    </span>
    <div class="progress">
        <div class="progress-bar bg-color-blueDark" style="width: @ViewBag.percentActive%;"></div>
    </div>
</div>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.policyNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Policyplan)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.policyNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Policyplan)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.policyNo }) |
                @Html.ActionLink("Details", "Details", new { id = item.policyNo }) |
                @Html.ActionLink("Archive", "Delete", new { id = item.policyNo })
            </td>
        </tr>
    }

</table>
