@model GFS.Models.Policies.Payer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><u>Customer Added, Here Are the Plan Details</u></h2>
<br />
<br />
@if (Session["NMember"] != null)
{
    <div>@Html.Partial("_NewMember", Session["NMember"])</div>
}
@if (Session["Dep"] != null)
{
    <div>@Html.Partial("_Dependant", Session["Dep"])</div>
}
@if (Session["Ben"] != null)
{
    <div>@Html.Partial("_Beneficiary", Session["Ben"])</div>
}

<div>
    <h4>Payer</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.NewMembers.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewMembers.title)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.paymentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paymentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.initialPremium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.initialPremium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.relation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.relation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.accNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.branchcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.branchcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.branchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.branchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.accountType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accountType)
        </dd>

    </dl>
    <div>
        <input type="button" value="Add Another Policy" class="btn btn-success" onclick="@("window.location.href='" + @Url.Action("Create", "NewMembers") + "'");" />
    </div>
    <br />
    <div>
        <input type="button" value="Done" class="btn btn-success btn-lg" onclick="@("window.location.href='" + @Url.Action("Blank", "Home") + "'");" />
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.payerNo }) |
    @Html.ActionLink("Back To List", "Index")
</p>
